/**********************************************************/
/*  Folha de estilo com float - Sparkling Water Hostel  */
/**********************************************************/

/*********************Index********************************/
.visitCard {
    height: 600px;
}
.divVisit {
    display: flex;
    flex-direction: column;
    float: right;
}
.visitCard h1 {
    font-size: 6em;
}
.visitCard p {
    font-size: 1.5em;
}
.sobre {
    height: 400px;
}
.sobre img {
    box-shadow: 0 0 20px rgba(0 , 0 , 0 , 0.8 );
}
.sobre h1 {
    font-size: 3em;
}
.sobre p {
    font-size: 1em;
}
.floatSobre{
    float: left;
}
.imageSobre{
    margin-left: -25%;
    margin-bottom: -25%;
}
.atracao{
    height: 600px;
}
.atracao img {
    float: right;
    margin-top: 10%;
}
.atracao h1{
    font-size: 3em;
    margin-top: 7%;
    text-align: right;
    margin-right: 25%;
}
.atracao p{
    font-size: 1em;
    margin-top: 1%;
    text-align: right;
    margin-right: 25%;
}
.local{
    height: 600px;
}
.local iframe {
    float: left;
    margin-left: -3%;
    margin-top: -6%;
}
.local h1 {
    font-size: 3em;
    margin-top: 2%;
    margin-left: 35%;
}
.local p {
    font-size: 1em;
    margin-top: 1%;
    margin-left: 35%;
}
.local button {
    margin-left: 3%;
}
footer{
    height: 300px;
}
.divFooter {
    display: flex;
}
footer h3{
    font-size: 1em;
    margin-left: 3%;
}
.divCommon {
    margin-left: 15%;
    font-size: 1em;
    margin-top: 8%;
}
footer section {
    margin-top: 0%;
    height: 46px;
}
footer section p {
    text-align: center;
    padding-top: 1%;
}