/**********************************************************/
/*  Folha de estilo com float - Sparkling Water Hostel  */
/**********************************************************/
section{
    margin-left: -2%;
}
h1{
    font-size: 2em;
}
table{
    margin-left: 3%;
}